<center>
<%= form_for(producttype) do |f| %>
  <% if producttype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producttype.errors.count, "error") %> en este tipo para ser modificado:</h2>

      <ul>
      <% producttype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <table>
  <tr bgcolor="white">
  <td>
    <strong>Ingrese nuevo nombre de tipo :</strong>
    </td>
    </tr>
    <tr>
    <td>
    <%= f.text_field :Nombre %>
    </td>
    </tr>
    </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</center>