<center>
<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> en este producto:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Rut ,"Ingrese Rut del cliente :"%>
    <%= f.text_field :Rut %>
  </div>

  <div class="field">
    <%= f.label :Nombre,"Ingrese Nombre del cliente :" %>
    <%= f.text_area :Nombre %>
  </div>

  <div class="field">
    <%= f.label :Apellido,"Ingrese Apellido del cliente :" %>
    <%= f.text_field :Apellido %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</center>