<center>
<%= form_for(producto) do |f| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producto.errors.count, "error") %> en este producto:</h2>

      <ul>
      <% producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= f.collection_select  :category_id,Category.limit(7).order(:id),:id,:Nombre,prompt: "Seleccione Categoria"%>
  </div>
  <br>
  <div>
  <%= f.select  (:producttype_id,Producttype.limit(7).order(:id).collect{|f| [ f.Nombre ,f.id ]},:id,:Nombre,prompt: "Seleccione Tipo")%>
  </div>
  <div class="field">
    <%= f.label :Nombre ,"Ingrese Nombre del producto :"%>
    <%= f.text_field :Nombre %>
  </div>

  <div class="field">
    <%= f.label :Descripcion,"Ingrese Descripcion del producto :" %>
    <%= f.text_area :Descripcion %>
  </div>

  <div class="field">
    <%= f.label :Modelo,"Ingrese Modelo del producto :" %>
    <%= f.text_field :Modelo %>
  </div>

  <div class="field">
    <%= f.label :Precio,"Ingrese Precio del producto :" %>
    <%= f.number_field :Precio %>
  </div>

  <div class="field">
    <%= f.label :Stock,"Ingrese Stock Actual del producto :" %>
    <%= f.number_field :Stock %>
  </div>

  <div class="field">
    <%= f.label :Imagen,"Ingrese Imagen del producto :" %>
    <%= f.text_field :Imagen %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</center>