<h1><u>Agregar Categoria</u></h1>
<div align="center">
<%= image_tag 'logo2.jpg', :alt =>'logo2'%>
<br>
<br>
<%= form_for(@category) do |f| %>
	<% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> en esta categoria para ser guardado:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<%end%>
	<div class="field">
	<%= f.text_field :Nombre,placeholder:"Nombre"%>
	</div>
	<div class="field">
	<%= f.submit "Guardar Categoria",  class:"btn be-blue white"%>
<%end%>
</div>
<br>
<center>
<input type='button' onclick=" location.href='/categorias' " name='boton3' value='Volver' style='width:150; height:50'>
</input>
</center>
