<!DOCTYPE html>
<html>
  <head>
    <title>Tiendaonline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice" color="white"><%= notice %></p>
    <p class="alert" color="white"><%= alert %></p>
    <div class="cerrar" align="right">
    <%if user_signed_in? %>
    	<%= current_user.email %>
        <br>
        <%= link_to "Editar",edit_user_registration_path%>
    	<br>
    	<%= link_to "Cerrar sesion",destroy_user_session_path,method: :delete %>
    	<%else%>
    	<%= link_to "Iniciar sesion",new_user_session_path%>
    	<br>
    	<%= link_to "Crear cuenta",new_user_registration_path%>
    <%end%>
    </div>
    </right>
    <%= yield %>
    <br>
    <br>
  </body>
</html>
